* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 100px;
    background: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 25px;
    background: yellow;
}

.menu ul {
    list-style: none;
    display: flex;
    height: 100%;
}

.menu li {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
}

.menu a {
    text-decoration: none;
    color: black;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background: green;
    padding: 20px;
    overflow-y: auto;
    color: white;
}

footer {
    height: 60px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}